/* Global styling */
* {
  font-family: 'Chivo Mono', monospace;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

@media screen and (max-width: 992px) {
  html {
    scroll-snap-type: y proximity;
  }
  body {
    scroll-snap-type: y proximity;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none;
}

#root {
  width: 100vw;
  text-align: center;

  background-image: linear-gradient(180deg,
      hsl(240deg 100% 20%) 1%,
      hsl(271deg 100% 19%) 45%,
      hsl(289deg 100% 18%) 61%,
      hsl(305deg 100% 18%) 72%,
      hsl(317deg 100% 20%) 80%,
      hsl(325deg 100% 22%) 86%,
      hsl(331deg 100% 24%) 91%,
      hsl(336deg 100% 26%) 95%,
      hsl(341deg 100% 27%) 98%,
      hsl(344deg 100% 27%) 100%);
}

#App {
  display: flex;
  flex-direction: column;
}

/* Header styling */

/* need to use class instead of id or else the header flashes on refresh */
.header {
  position: fixed;
  opacity: 0;
  transition: opacity .5s ease-in;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: .5rem 1rem;
  font-weight: bold;
  z-index: 1000;
}

#Header-Signature {
  margin-top: .5rem;
  height: 36px;
  margin-bottom: .5rem;
}

#Header-Logo {
  height: 36px;
}

.header-active {
  opacity: 1;
}

/* Section styling */
.section {
  max-width: 100vw;
  min-height: 100vh;
}

.section-title {
  font-style: italic;
}

/* Home section */
/* #Home {
  scroll-snap-align: start;
} */

#Signature {
  stroke-dasharray: 2831;
  stroke-dashoffset: 2831;
  animation: sign 4s ease;
  animation-fill-mode: forwards;
}

@keyframes sign {
  to {
    stroke-dashoffset: 0;
  }
}

#Globe {
  position: absolute;
  z-index: 0;
  opacity: 30%;
}

.quote {
  font-size: .75rem;
  font-style: italic;
  font-weight: 200;
  color: rgb(207, 207, 207);
}

/* Project section */
#Projects {
  padding-top: 70px;
  scroll-snap-align: start;
}

/* Experiences section */
#Experiences {
  padding-top: 75px;
  scroll-snap-align: start;
}

/* Generic flex div styling */

.flex-row {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  gap: 1rem;
  z-index: 1;
}

.flex-col {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  gap: .5rem;
  z-index: 1;
}

/* Glyph icons styling */
.icon-link {
  font-size: 2rem;
  margin-top: 1rem;
  color: white;
}

.icon-link:hover {
  color: #adadad;
}

.email-icon {
  vertical-align: -.15rem;
}

.email-button {
  background: rgba(0, 0, 0, 0.5);
  border-width: 3px;
}

.email-button:hover {
  border-width: 3px;
  border-color: #405dff;
}

/* Project Cards styling */

.project-cards-container {
  min-width: 350px;
}

.project-card {
  width: 350px;
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  flex-grow: 1;
  min-height: 45vh;
  border-radius: 1rem;
  transition: box-shadow 150ms;
}

.project-card:hover {
  box-shadow:
    0px 0px 1.2px rgba(0, 0, 0, 0.087),
    0px 0px 3.4px rgba(0, 0, 0, 0.125),
    0px 0px 9.1px rgba(0, 0, 0, 0.163),
    0px 0px 30px rgba(0, 0, 0, 0.25);
}

.project-card-image {
  aspect-ratio: 1;
  scale: 99%;
  margin: .3rem;
  border-radius: 1rem;
}

.project-card-title {
  text-align: left;
  padding: .25rem 1rem .5rem 1rem;
}

.project-card-links {
  display: flex;
  align-self: flex-end;
  flex-wrap: wrap;
  margin-top: auto;
  margin-bottom: .5rem;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 0 .5rem;
  gap: .5rem;
}

.project-card-button {
  border-width: 3px;
  padding: .3rem .6rem;
}

.project-card-button:hover {
  border-color: #9e0000;
}

.project-card-icon {
  vertical-align: -.15rem;
}

/* Experience Cards styling */

.experience-cards-container {
  min-width: 350px;
}

.experience-card {
  width: 350px;
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  flex-grow: 1;
  border-radius: 1rem;
  transition: box-shadow 150ms;
}

.experience-card:hover {
  box-shadow:
    0px 0px 1.2px rgba(0, 0, 0, 0.087),
    0px 0px 3.4px rgba(0, 0, 0, 0.125),
    0px 0px 9.1px rgba(0, 0, 0, 0.163),
    0px 0px 30px rgba(0, 0, 0, 0.25);
}

.experience-card-title {
  text-align: left;
  padding: .5rem 1rem 0rem 1rem;
}

.experience-card-subtitle {
  text-align: left;
  padding: .25rem 1rem;
  color: rgb(170, 170, 170);
}

.experience-card-list {
  display: flex;
  align-self: flex-start;
  flex-wrap: wrap;
  margin-top: 0rem;
  margin-left: .5rem;
  margin-right: .5rem;
  margin-bottom: .5rem;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 .25rem;
  gap: .5rem;
}

.experience-card-item {
  text-align: left;
  margin-left: 1rem;
}

.experience-card-button {
  border-width: 3px;
  padding: .3rem .6rem;
}

.experience-card-button:hover {
  border-color: #833fd1;
}

.experience-card-icon {
  vertical-align: -.15rem;
}

.resume-button {
  border-width: 3px;
  margin-top: 1rem;
  padding: .3rem .6rem;
  background: rgba(0, 0, 0, 0.5);
}

.resume-button:hover {
  border-color: #833fd1;
}

.underline {
  text-decoration: underline;
  text-decoration-color: rgb(252, 255, 73);
}

.marquee-container {
  position: relative;
  top: -2rem;
  height: 0px;
  width: 100%;
}

.marquee {
  background-color: #ffffff00;
  background-image: linear-gradient(90deg, #ff006a00 25%, #cccccc77 50%, #ff006a00 75%);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

@media screen and (max-width: 992px) {
  .marquee {
    background-image: linear-gradient(90deg, #ff006a00 15%, #cccccc77 50%, #ff006a00 85%);
  }
}

@media screen and (max-width: 600px) {
  .marquee {
    background-image: linear-gradient(90deg, #ff006a00 5%, #cccccc77 50%, #ff006a00 95%);
  }
}

.marquee-text {
  font-size: 7rem;
  padding: 1rem;
  font-style: italic;
}